@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .hover {
    @apply cursor-pointer transition duration-200 ease-in-out /* Use a valid Tailwind class */
  }
}



* {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
  text-decoration-thickness: 3px;
}

*::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}




.loader {
  width: 48px;
  height: 48px;
  border: 6px solid #d1d1d1;
  border-bottom-color: #4d6eff;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  } 